# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
blockchain/node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*
!.env.example
blockchain/.env

# Hardhat files
cache/
artifacts/
blockchain/cache/
blockchain/artifacts/

# TypeChain
typechain-types/

# Coverage
coverage/
coverage.json

# Hardhat Ignition
ignition/deployments/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
